@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext");
/* line 1, sass/_base.scss */
#fusion-gmap-container, #main, #sliders-container, #wrapper, .fusion-separator .icon-wrapper, body, html {
  background-color: transparent;
}

/* line 4, sass/_base.scss */
.fusion-header-wrapper {
  background: white;
}

/* line 7, sass/_base.scss */
.calculator-holder {
  border: 10px solid #f1f1f1;
  border-left: none;
  border-right: none;
  padding: 15px 0;
  display: none;
}
/* line 14, sass/_base.scss */
.calculator-holder.ng-scope {
  display: block;
}
/* line 18, sass/_base.scss */
.calculator-holder .not-resulted {
  color: #989898;
  border-radius: 5px;
  font-size: 1.1rem;
  margin: 5px 0;
  text-align: center;
}
/* line 24, sass/_base.scss */
.calculator-holder .not-resulted i {
  display: block;
  margin: 0 0 5px 0;
  font-size: 2rem;
}
/* line 30, sass/_base.scss */
.calculator-holder .error-msg {
  color: white;
  background: #d15b4f;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  margin: 5px 0;
}
/* line 37, sass/_base.scss */
.calculator-holder .error-msg .head {
  margin: 5px 0 3px 0;
}
/* line 41, sass/_base.scss */
.calculator-holder .loader {
  color: white;
  background: #75bf75;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  margin: 5px 0;
  -webkit-animation-name: loaderbgchange;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: loaderbgchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/* line 55, sass/_base.scss */
.calculator-holder > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
/* line 62, sass/_base.scss */
.calculator-holder > .wrapper > .inputs, .calculator-holder > .wrapper > .result-view {
  flex-basis: 50%;
}
/* line 65, sass/_base.scss */
.calculator-holder > .wrapper .result-view {
  padding: 0 0 0 25px;
}
/* line 68, sass/_base.scss */
.calculator-holder > .wrapper .result-view .line-header {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: black;
  text-align: center;
}
/* line 77, sass/_base.scss */
.calculator-holder .inp-wrapper {
  border: 0.5px solid #c3c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: #f5f5f5;
  overflow: hidden;
  padding: 1px;
}
/* line 91, sass/_base.scss */
.calculator-holder .inp-wrapper input[type=text],
.calculator-holder .inp-wrapper input[type=number],
.calculator-holder .inp-wrapper input[type=date],
.calculator-holder .inp-wrapper select {
  background: #ffffff;
  border: none;
  line-height: 42px;
  height: 42px;
  color: black;
  padding: 0 12px;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
}
/* line 103, sass/_base.scss */
.calculator-holder .inp-wrapper .ihint {
  color: black;
  position: relative;
  padding: 0 15px;
}
/* line 109, sass/_base.scss */
.calculator-holder .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 117, sass/_base.scss */
.calculator-holder .line .head {
  font-weight: bold;
  line-height: 1.2;
  font-size: 1rem;
  flex: 1;
}
/* line 124, sass/_base.scss */
.calculator-holder .line .val {
  flex-basis: 30%;
}
/* line 127, sass/_base.scss */
.calculator-holder .line > div {
  padding: 10px 20px;
}
/* line 133, sass/_base.scss */
.calculator-holder .line.two-line .head,
.calculator-holder .line.two-line .val {
  flex-basis: 100%;
}
/* line 140, sass/_base.scss */
.calculator-holder .line.missing .inp-wrapper,
.calculator-holder .line.error .inp-wrapper {
  border: 2px solid #ffc5c5;
}
/* line 144, sass/_base.scss */
.calculator-holder .error-hint {
  color: #ef1212;
  font-size: 0.7rem;
  margin: 0 0 5px 0;
  font-weight: 400;
}
/* line 150, sass/_base.scss */
.calculator-holder .head-hint {
  color: #808080;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 400;
}
/* line 157, sass/_base.scss */
.calculator-holder .action-line .val {
  flex-basis: 100%;
  text-align: right;
}
/* line 161, sass/_base.scss */
.calculator-holder .action-line button {
  outline: none;
  background: #5a4934;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
/* line 172, sass/_base.scss */
.calculator-holder .inputs .line:nth-child(even) {
  background: #f7f1e8;
}
/* line 177, sass/_base.scss */
.calculator-holder table.result-table {
  border: 5px solid #cec1ae;
  border-collapse: collapse;
  width: 100%;
}
/* line 181, sass/_base.scss */
.calculator-holder table.result-table td {
  padding: 10px;
  border: 1px solid #c9c9c9;
}
/* line 185, sass/_base.scss */
.calculator-holder table.result-table td.h {
  color: #343434;
}
/* line 188, sass/_base.scss */
.calculator-holder table.result-table td.head {
  text-align: center;
  color: #bdbcbc;
  text-transform: uppercase;
  background: #454444 !important;
  padding: 10px;
  font-size: 0.7rem;
}
/* line 196, sass/_base.scss */
.calculator-holder table.result-table td.v {
  color: black;
  text-align: center;
}
/* line 200, sass/_base.scss */
.calculator-holder table.result-table tbody > tr > td:last-child {
  background: #f8f8f8;
}
/* line 204, sass/_base.scss */
.calculator-holder table.result-table tbody > tr:nth-child(even) > td {
  background: #f7f1e8;
}
/* line 207, sass/_base.scss */
.calculator-holder table.result-table tbody > tr:nth-child(even) > td:last-child {
  background: #ece3d5;
}
/* line 210, sass/_base.scss */
.calculator-holder table.result-table tr.sm td {
  font-size: 0.9rem !important;
}
/* line 214, sass/_base.scss */
.calculator-holder table.result-table tr.hl td {
  background: #a99270 !important;
  color: white;
}
/* line 218, sass/_base.scss */
.calculator-holder table.result-table tr.lt td {
  text-decoration: line-through !important;
  font-style: italic !important;
  color: #707070 !important;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes loaderbgchange {
  /* line 228, sass/_base.scss */
  0% {
    background-color: #75bf75;
  }

  /* line 229, sass/_base.scss */
  50% {
    background-color: #b6c955;
  }

  /* line 230, sass/_base.scss */
  100% {
    background-color: #75bf75;
  }
}

/* Standard syntax */
@keyframes loaderbgchange {
  /* line 235, sass/_base.scss */
  0% {
    background-color: #75bf75;
  }

  /* line 236, sass/_base.scss */
  50% {
    background-color: #b6c955;
  }

  /* line 237, sass/_base.scss */
  100% {
    background-color: #75bf75;
  }
}
